<div class="col-xs-4 align_center">
  <div>
    <span class="stronger">IVA</span>
    {{#if view.model.tarifaIva}}
      - {{view.model.tarifaIva}}%
    {{/if}}
  </div>
  <div>
    {{number_to_currency view.model.iva}}
  </div>
</div>
<div class="col-xs-4 align_center">
  <div>
    <span class="stronger">ICE</span>
    {{#if view.model.tarifaIce}}
      - {{view.model.tarifaIce}}%
    {{/if}}
  </div>
  <div>
    {{number_to_currency view.model.ice}}
  </div>
</div>
