<td>{{number_to_currency view.cashDenominationItem.cashDenomination.price}}</td>
<td>
  {{#if view.parentView.includeForm}}
    {{view Bandango.NumberField value=view.cashDenominationItem.cantidad class="small_padding form-control minimal_input"}}
  {{else}}
    <div class="align_center">{{view.cashDenominationItem.cantidad}}</div>
  {{/if}}
</td>
