<div class="form-group">
  <select class="form-control comprobante_select">
    {{#each view.comprobantes}}
      <option value="{{unbound id}}">{{unbound tipo}}</option>
    {{/each}}
  </select>
</div>
