<div class="align_center">
  <h3>Nueva</h3>
</div>

<section class="form_section">
  <div class="section_header">
    Cliente
  </div>
  <div class="section_body">
    {{partial "clientes/cliente_form"}}
  </div>
</section>

<div class="actions">
  {{link-to "Cancelar" "facturas.index" class="btn btn-link"}}
  <input type="submit" value="Crear" class="btn btn-primary" {{bind-attr disabled=view.submitting}}>
</div>
