<section class="form_section">
  <div class="section_header">
    Comprobante
  </div>
  <div class="section_body">
    {{partial "comprobantes/form"}}
  </div>
</section>

{{partial "orderable/form"}}
