{{#view Bandango.ModelAddButtonView route="ventas"}}
  <li class="active">Ventas</li>
{{/view}}

{{#each venta in controller}}
  {{view Bandango.VentaOnListView model=venta}}
{{/each}}

{{view Bandango.IndexBottomLoadMoreView name="ventas"}}
