<div class="btn-group pull-right">
  {{#link-to "clientes.new" class="btn btn-xs btn-default"}}<span class="glyphicon glyphicon-plus"></span>{{/link-to}}
</div>
<div class="clearfix"></div>

{{#each cliente in controller}}
  {{view Bandango.ClienteOnListView model=cliente}}
{{/each}}
