{{#view Bandango.ModelAddButtonView route="clientes"}}
  <li class="active">
    Clientes
  </li>
{{/view}}

{{#each cliente in controller}}
  {{view Bandango.ClienteOnListView model=cliente}}
{{/each}}

{{view Bandango.IndexBottomLoadMoreView name="clientes"}}
