<ol class="breadcrumb">
  <li>
    {{link-to "Clientes" "clientes.index"}}
  </li>
  <li class="active">
    {{unbound nombres}}
  </li>
</ol>

{{partial "clientes/show"}}

<div class="actions">
  {{link-to "editar" "clientes.edit" this class="btn btn-default"}}
</div>
