<div id="loading_bandango">
  <div class="spinner-icon"></div>
</div>

<% if current_user %>
  <%= javascript_tag id: "bandango_will_login" do %>
    window.bandangoWillLoginAs = <%= raw CurrentUserSerializer.new(current_user).to_json %>;
  <% end %>
<% end %>
