{{#with view.model}}
  <div class="imagen">
    <img src="{{unbound user.imagen_url_mini}}" class="profile_image mini"></img>
  </div>
  <div class="info">
    <div class="title">{{humanize_time createdAt format="long"}}</div>
    <div>{{user.nombres}}</div>
  </div>
{{/with}}
