{{#if model.totales}}
  <table class="default_table full_width">
    <thead>
      <tr>
        <th>Forma de pago</th>
        <th>Número de operaciones</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.totales}}
        <tr>
          <td>
            {{name}}
          </td>
          <td class="align_right">
            <span class="badge">{{qty}}</span>
          </td>
          <td class="align_center">
            <span class="label label-success">{{number_to_currency sum}}</span>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <h5 class="align_center lighter">
    No existen operaciones
  </h5>
{{/if}}
