<table class="items_form">
  <thead>
    <tr>
      <th class="cantidad">Cant</th>
      <th class="descripcion">Descripción</th>
      <th class="valor_unitario">V. Unit</th>
      <th class="valor_total">V. Total</th>
    </tr>
  </thead>
  <tbody>
    {{view Bandango.OrderItemFormView}}
    {{#each orderItem in orderItems}}
      {{view Bandango.OrderItemView model=orderItem}}
    {{/each}}
  </tbody>
</table>
