<table>
  <thead>
    <tr>
      <th>Cant</th>
      <th>Descripción</th>
      <th>V. Unit</th>
      <th>V. Total</th>
    </tr>
  </thead>
  <tbody>
    {{view Bandango.OrderItemFormView}}
    {{#each orderItem in orderItems}}
      {{view Bandango.OrderItemView model=orderItem}}
    {{/each}}
  </tbody>
</table>
