{{#with view.model}}
  <div class="info">
    <div class="primary">
      {{nombre}}
    </div>
    {{#if seVende}}
      {{number_to_currency baseVenta}}
    {{/if}}
    {{#if seCompra}}
      {{number_to_currency baseCompra}}
    {{/if}}
  </div>
{{/with}}
