{{partial "users/form"}}

<div class="row">
  <div class="col-xs-8 text-danger">
    {{array_with_lines view.errors_messages}}
  </div>
  <div class="col-xs-4">
    {{link-to "Cancelar" "me.index" class="btn btn-link"}}
    <input type="submit" value="Actualizar" class="btn btn-primary" {{bind-attr disabled=view.submitting}}>
  </div>
</div>
