{{#view Bandango.ModelAddButtonView route="cierre_caja"}}
  <li class="active">Cierres de caja</li>
{{/view}}

{{#each cierreCaja in controller}}
  {{view Bandango.CierreCajaOnListView model=cierreCaja}}
{{/each}}

{{view Bandango.IndexBottomLoadMoreView name="cierres de caja"}}
