<select class="form-control retencion_fuente_select">
  {{#each view.conceptosRetencionFuente}}
    <option value="{{unbound id}}">{{unbound codigo}} - {{unbound concepto}}</option>
  {{/each}}
</select>
