<div class="form-group">
  <select class="form-control retencion_fuente_select">
    {{#each view.conceptosRetencionFuente}}
      <option value="{{unbound id}}">{{unbound to_s}}</option>
    {{/each}}
  </select>
</div>
