<div class="row">
  <h1>Bandango</h1>
  <div class="col-md-3 col-lg-3 sidebar">
    {{#if Bandango.currentSession.loggedIn}}
      {{view Bandango.CurrentUserResumeView}}
      <ul class="nav nav-pills nav-stacked">
        <li>{{link-to "Facturas" "facturas"}}</li>
        <li>{{link-to "Usuarios"}}</li>
        <li class="bandango_divider"></li>
        <li><a href="/logout">Cerrar sesión</a></li>
      </ul>
    {{/if}}
  </div>
  <div class="col-md-9 col-lg-9 main_content">
    {{outlet}}
  </div>
</div>
