<h2>Tablero</h2>

{{partial "dashboard/stats_table"}}

{{view Bandango.DashboardSummaryChartView}}

<div class="has_margin">
  <p>Bandango se encuentra en una fase alpha.</p>
  <p>¿Deseas contribuir? Entra a <a href="http://github.com/vilcabamba/bandango" target="_blank">github/vilcabamba/bandango</a></p>
</div>
