<div class="login_modal">
  <div class="form-signin">
    <h1 class="form-signin-heading">Inicia sesión</h1>
    {{view Ember.TextField value=view.username placeholder="Nombre de usuario" class="form-control"}}
    {{view Ember.TextField value=view.password type="password" placeholder="Contraseña" class="form-control"}}
    <span class="small">
      <span class="text-danger">{{view.error}}</span>
    </span>
    <input type="submit" value="Iniciar sesión" class="btn btn-lg btn-primary btn-block" {{bind-attr disabled=view.sendingRequest}}/>
  </div>
</div>
