<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{view.title}}</h4>
      </div>
      <div class="modal-body">
        {{yield}}
      </div>
      {{#unless view.hide_footer}}
        <div class="modal-footer" id="modal_footer">
          {{#unless view.hide_default_footer}}
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          {{/unless}}
        </div>
      {{/unless}}
    </div>
  </div>
</div>
