#app
  max-width: 800px
  margin: auto
  .sidebar
    padding: 1em 0.3em
    ul
      border-radius: 4px
    .btn-group
      width: 100%
      margin: 1em 0
      .current_user
        width: 100%
        text-align: left
        position: relative
        .caret
          position: absolute
          right: 5px
          top: 15px
  .main_content
    padding: 0.3em
    h2
      text-align: center
body
  padding-top: 40px
  padding-bottom: 40px

