@mixin border_and_shadow
  box-shadow: 0 1px 5px #ddd
  border-radius: 5px
  border: 1px solid #ccc

@mixin white_background
  background-color: white

body
  padding-bottom: 40px

#app
  max-width: 800px
  margin: auto
  .sidebar
    padding: 1em 0.3em
    ul
      @include white_background
      @include border_and_shadow
      a.active
        background-color: #428bca
        color: white
    .btn-group
      width: 100%
      margin: 0 0 1em 0
      button
        @include border_and_shadow
      .current_user
        width: 100%
        text-align: left
        position: relative
        .caret
          position: absolute
          right: 5px
          top: 15px
  .main_content
    @include white_background
    @include border_and_shadow
    padding: 0.7em 1em
    margin-top: 1em
    h2
      text-align: center
