.items_form
  margin: auto
  th
    text-align: center
  .cantidad
    width: 60px
  .descripcion
    min-width: 220px
    max-width: 280px
  .valor_total
    border-right: 0
  .valor_unitario, .valor_total
    width: 70px
  .valor_unitario, .valor_total, .cantidad
    text-align: center
