.items_form
  margin: auto
  th
    text-align: center
  .cantidad
    width: 60px
  .descripcion
    width: 280px
  .valor_total
    border-right: 0
  .valor_unitario, .valor_total
    width: 80px
  .valor_unitario, .valor_total, .cantidad
    text-align: center

.item
  .nombre
    font-size: 18px
  .price
    font-size: 18px
  .label
    display: block
  .row > div
    text-align: center
