section.form_section
  .section_header
    margin-top: 1.2em
    margin-bottom: 0.8em
    font-size: 23px
  .section_body
    border-bottom: 1px solid #eee
    padding-bottom: 0.5em
    margin-bottom: 0.5em
    margin-left: 0.5em
    color: #666
