section.form_section
  .section_header
    margin-top: 1.2em
    margin-bottom: 0.4em
    font-size: 23px
  .section_body
    border-bottom: 1px solid #eee
    margin-bottom: 0.5em
    margin-left: 0.5em
