.spinner_container
  display: inline-block
  .spinner
    display: inline-block
    vertical-align: middle
    &.big
      max-width: 92px
      max-height: 92px
    &.normal
      max-width: 50px
      max-height: 50px
    &.small
      max-width: 25px
      max-height: 25px
    &.mini
      max-width: 18px
      max-height: 18px
    &.tiny
      max-width: 13px
      max-height: 13px
