<ol class="breadcrumb">
  <li>
    {{link-to "Usuarios" "users.index"}}
  </li>
  <li class="active">{{firstNames}}</li>
</ol>

{{partial "users/show"}}

<div class="actions">
  {{#if active}}
    {{link-to "editar" "users.edit" this class="btn btn-default"}}
  {{/if}}
</div>
