{{#with view.model}}
  <div class="imagen">
    <img src="{{unbound imagen_url_mini}}" class="profile_image mini">
  </div>
  <div class="info">
    <div class="primary">
      {{firstNames}}
    </div>
    {{#if isCurrentUser}}
      <span class="label label-info">tú</span>
    {{/if}}
    {{#unless active}}
      <span class="label label-danger">desactivado</span>
    {{/unless}}
  </div>
{{/with}}
