<ol class="breadcrumb">
  {{yield}}
  <div class="pull-right">
    <div class="btn-group">
      {{#link-to view.linkTo class="btn btn-xs btn-default"}}<span class="glyphicon glyphicon-plus"></span>{{/link-to}}
    </div>
  </div>
</ol>
